{% extends 'layout.html.twig' %} 

    
   {% block body %}
        {{ parent()}}
            <br>
            <br>
            <br>
           <div>
               <h1> Ces cours ont pour but de vous introduire à la langue japonaise.</h1> 
               <p> On avait la flemme de faire un texte que personne ne va lire de toute façon</p> 
           </div>
    {%endblock%}

                
        
    

